<%- include('../partials/header') %>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="card" style="background-color: rgba(53, 53, 53, 0.2)">
                    <img class="card-img-top" src="/Users/lucasderr/3308SP21_section013_5/All_Project_Code/resources/img/profile.png"
                        alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title-center">Welcome: <%- user.name_fl%></h4>
                        <p class="card-text">This is a sample bio for a user to give information about their
                            profile/book interests etc. <br> <br> Your current username is: <%- user.user_name%> <br> <br> Your current email: <%- user.email%> </p>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="card" style="background-color: rgba(53, 53, 53, 0.2)">
                    <h1>
                        Reading Log
                    </h1>
                    <div id="Carousel" class="carousel slide">
                        <ol class="carousel-indicators">
                            <li data-target="#Carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#Carousel" data-slide-to="1"></li>
                            <li data-target="#Carousel" data-slide-to="2"></li>
                        </ol>
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                            <div class="item active carousel-item">
                                <div class="row">
                                    <div class="col-lg-3"><a href="#" class="thumbnail"><img
                                                src="/Users/lucasderr/3308SP21_section013_5/All_Project_Code/resources/img/samplecover.jpg" alt="Image"
                                                style="max-width:100%;"></a>
                                    </div>
                                    <div class="col-lg-3"><a href="#" class="thumbnail"><img
                                                src="/Users/lucasderr/3308SP21_section013_5/All_Project_Code/resources/img/samplecover.jpg" alt="Image"
                                                style="max-width:100%;"></a>
                                    </div>
                                    <div class="col-lg-3"><a href="#" class="thumbnail"><img
                                                src="/Users/lucasderr/3308SP21_section013_5/All_Project_Code/resources/img/samplecover.jpg" alt="Image"
                                                style="max-width:100%;"></a>
                                    </div>
                                    <div class="col-lg-3"><a href="#" class="thumbnail"><img
                                                src="/Users/lucasderr/3308SP21_section013_5/All_Project_Code/resources/img/samplecover.jpg" alt="Image"
                                                style="max-width:100%;"></a>
                                    </div>
                                </div>
                                <!--.row-->
                            </div>
                            <!--.item-->
                            <div class="item carousel-item">
                                <div class="row">
                                    <div class="col-lg-3"><a href="#" class="thumbnail"><img
                                                src="/Users/lucasderr/3308SP21_section013_5/All_Project_Code/resources/img/samplecover.jpg" alt="Image"
                                                style="max-width:100%;"></a>
                                    </div>
                                    <div class="col-lg-3"><a href="#" class="thumbnail"><img
                                                src="/Users/lucasderr/3308SP21_section013_5/All_Project_Code/resources/img/samplecover.jpg" alt="Image"
                                                style="max-width:100%;"></a>
                                    </div>
                                    <div class="col-lg-3"><a href="#" class="thumbnail"><img
                                                src="/Users/lucasderr/3308SP21_section013_5/All_Project_Code/resources/img/samplecover.jpg" alt="Image"
                                                style="max-width:100%;"></a>
                                    </div>
                                    <div class="col-lg-3"><a href="#" class="thumbnail"><img
                                                src="/Users/lucasderr/3308SP21_section013_5/All_Project_Code/resources/img/samplecover.jpg" alt="Image"
                                                style="max-width:100%;"></a>
                                    </div>
                                </div>
                                <!--.row-->
                            </div>
                            <!--.item-->
                            <div class="item carousel-item">
                                <div class="row">
                                    <div class="col-lg-3"><a href="#" class="thumbnail"><img
                                                src="/Users/lucasderr/3308SP21_section013_5/All_Project_Code/resources/img/samplecover.jpg" alt="Image"
                                                style="max-width:100%;"></a>
                                    </div>
                                    <div class="col-lg-3"><a href="#" class="thumbnail"><img
                                                src="/Users/lucasderr/3308SP21_section013_5/All_Project_Code/resources/img/samplecover.jpg" alt="Image"
                                                style="max-width:100%;"></a>
                                    </div>
                                    <div class="col-lg-3"><a href="#" class="thumbnail"><img
                                                src="/Users/lucasderr/3308SP21_section013_5/All_Project_Code/resources/img/samplecover.jpg" alt="Image"
                                                style="max-width:100%;"></a>
                                    </div>
                                    <div class="col-lg-3"><a href="#" class="thumbnail"><img
                                                src="/Users/lucasderr/3308SP21_section013_5/All_Project_Code/resources/img/samplecover.jpg" alt="Image"
                                                style="max-width:100%;"></a>
                                    </div>
                                </div>
                                <!--.row-->
                            </div>
                            <!--.item-->
                        </div>
                        <!--.carousel-inner-->
                        <a data-slide="prev" href="#Carousel" class="left carousel-control">&#x2039;</a>
                        <a data-slide="next" href="#Carousel" class="right carousel-control">&#x203A;</a>
                    </div>
                </div>
                <div>
                    <div class="card" style="background-color:  rgba(53, 53, 53, 0.2)">
                        <h1>
                            Wishlist
                        </h1>
                        <div id="Carousel" class="carousel slide">
                            <ol class="carousel-indicators">
                                <li data-target="#Carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#Carousel" data-slide-to="1"></li>
                                <li data-target="#Carousel" data-slide-to="2"></li>
                            </ol>
                            <!-- Carousel items -->
                            <div class="carousel-inner">
                                <div class="item active carousel-item">
                                    <div class="row">
                                        <div class="col-lg-3"><a href="#" class="thumbnail"><img
                                                    src="All_Project_Code/resources/img/samplecover.jpg" alt="Image"
                                                    style="max-width:100%;"></a>
                                        </div>
                                        <div class="col-lg-3"><a href="#" class="thumbnail"><img
                                                    src="http://placehold.it/250x250/0ff" alt="Image"
                                                    style="max-width:100%;"></a>
                                        </div>
                                        <div class="col-lg-3"><a href="#" class="thumbnail"><img
                                                    src="http://placehold.it/250x250/0ff" alt="Image"
                                                    style="max-width:100%;"></a>
                                        </div>
                                        <div class="col-lg-3"><a href="#" class="thumbnail"><img
                                                    src="http://placehold.it/250x250/0ff" alt="Image"
                                                    style="max-width:100%;"></a>
                                        </div>
                                    </div>
                                    <!--.row-->
                                </div>
                                <!--.item-->
                                <div class="item carousel-item">
                                    <div class="row">
                                        <div class="col-lg-3"><a href="#" class="thumbnail"><img
                                                    src="/Users/lucasderr/3308SP21_section013_5/All_Project_Code/resources/img/samplecover.jpg" alt="Image"
                                                    style="max-width:100%;"></a>
                                        </div>
                                        <div class="col-lg-3"><a href="#" class="thumbnail"><img
                                                    src="http://placehold.it/250x250/00f" alt="Image"
                                                    style="max-width:100%;"></a>
                                        </div>
                                        <div class="col-lg-3"><a href="#" class="thumbnail"><img
                                                    src="http://placehold.it/250x250/00f" alt="Image"
                                                    style="max-width:100%;"></a>
                                        </div>
                                        <div class="col-lg-3"><a href="#" class="thumbnail"><img
                                                    src="http://placehold.it/250x250/00f" alt="Image"
                                                    style="max-width:100%;"></a>
                                        </div>
                                    </div>
                                    <!--.row-->
                                </div>
                                <!--.item-->
                                <div class="item carousel-item">
                                    <div class="row">
                                        <div class="col-lg-3"><a href="#" class="thumbnail"><img
                                                    src="http://placehold.it/250x250" alt="Image"
                                                    style="max-width:100%;"></a>
                                        </div>
                                        <div class="col-lg-3"><a href="#" class="thumbnail"><img
                                                    src="http://placehold.it/250x250" alt="Image"
                                                    style="max-width:100%;"></a>
                                        </div>
                                        <div class="col-lg-3"><a href="#" class="thumbnail"><img
                                                    src="http://placehold.it/250x250" alt="Image"
                                                    style="max-width:100%;"></a>
                                        </div>
                                        <div class="col-lg-3"><a href="#" class="thumbnail"><img
                                                    src="http://placehold.it/250x250" alt="Image"
                                                    style="max-width:100%;"></a>
                                        </div>
                                    </div>
                                    <!--.row-->
                                </div>
                                <!--.item-->
                            </div>
                            <!--.carousel-inner-->
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                              </a>
                              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                              </a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card" style="background-color: rgba(53, 53, 53, 0.2)">
                        <h1>
                            Update Settings
                        </h1>
                        <div>
                            <button type="button" class="btn btn-primary btn-lg">Change Username</button>
                            <button type="button" class="btn btn-primary btn-lg">Change Password</button>
                            <button type="button" class="btn btn-primary btn-lg">Change Email</button>
                            <button type="button" class="btn btn-secondary btn-lg" style="float: right;">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <%- include('../partials/footer') %>
